.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.login-form {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
  color: #343a40;
}

.form-label {
  color: #343a40;
}

.form-group{
  margin:16px;
}


.btn-primary {
  color: white;
  background-color: #0069d9;
  border-radius: 4px;
  cursor: pointer;
  width: 60px;
  height: 30px;
  float: right;
}
